extends layout

block content
  div.container
    div.title
      p Personal Pokedex
    div.pikachu-icon
      img(src='https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/27e2f2ca9e925f75d5323afef48703e6.png')
    div.type-icons
    div.card-container
      div.random
      div.add
      div.remove
      div.card-view
        div.card
          img.shiny(src='https://media.istockphoto.com/id/1077626348/photo/silver-glitter-texture-white-sparkling-shiny-wrapping-paper-background-for-christmas-holiday.jpg?b=1&s=170667a&w=0&k=20&c=NHFBwdwfUwKRAXoDIVekY22Mhwi8isTj9dI9a37KnKk=')
          div.topcard
            div.namebox
              p Houndoom EX
            div.hp
              p 170
            div.type
              img(src='https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aba1a756-d955-43f6-a2e9-5b7d60406854/d50w437-315a34c4-85c2-4d07-ae4d-6b42a25233bf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FiYTFhNzU2LWQ5NTUtNDNmNi1hMmU5LTViN2Q2MDQwNjg1NFwvZDUwdzQzNy0zMTVhMzRjNC04NWMyLTRkMDctYWU0ZC02YjQyYTI1MjMzYmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kytndezX-kNW72WN893L_sOKoTnQYmvnqvJ79VVV8w8')
          div.pic-container
            div.pokemon-img
              img(src='https://static.pokemonpets.com/images/monsters-images-800-800/8229-Mega-Houndoom.webp')
          div.atkcard
            div.skill1
              p
              div.energy1
              div.desc1
              div.cost1
            div.skill2
              div.energy2
              div.desc2
              div.cost1
          div.infocard
            div.infotext
              div.weak
              div.res
              div.retreat
            div.infoicon
              div.iconweak
              div.iconres
              div.iconretreat