extends layout

block content
  div.container
    div.title
      p Personal Pokedex
      img.pikachu-icon(src='https://www.freeiconspng.com/uploads/pikachu-png-icon-24.png')
    div.type-icons
    div.card-container
      div.random
        button Random
      div.add
        button Add
      div.remove
        button Remove
      div.card-view
        div.card
          div.namebox
            p Houndoom EX
            p 170
            img.mini(src='/images/fire.png')
          div.pic-container
              img.pokemon-img(src='https://static.pokemonpets.com/images/monsters-images-800-800/8229-Mega-Houndoom.webp')
          div.atkcard
            div.skill1
              img.mini(src='/images/fire.png')
              p Inferno Fang
              p 80+
            div.skill2
              img.mini(src='/images/fire.png')
              p Vengeful Fang
              p 100+
          div.infocard
            div
              p weakness
              img.mini(src='/images/groun.png')
              img.mini(src='/images/rock.png')
              img.mini(src='images/water.png')
            div
              p resistance
              img.mini(src='images/fire.png')
              img.mini(src='images/bug.png')
              img.mini(src='images/steel.png')
            div
              p retreat cost
              img.mini(src='/images/normal.png')
          // goodbye shiny you will be missed :(
          //img.shiny(src='https://media.istockphoto.com/id/1077626348/photo/silver-glitter-texture-white-sparkling-shiny-wrapping-paper-background-for-christmas-holiday.jpg?b=1&s=170667a&w=0&k=20&c=NHFBwdwfUwKRAXoDIVekY22Mhwi8isTj9dI9a37KnKk=')