extends layout

block content
  include mixins/pokemonCard
  div.container
    div.title
      p Personal Pokedex
      img.pikachu-icon(src='https://www.freeiconspng.com/uploads/pikachu-png-icon-24.png')
    div.type-icons
    div.card-container
      div.buttonrow
        button.buttons Random
        button.buttons Add
        button.buttons Remove
      div.card-view
        each card in cards
          +pokemonCard(card)

          // goodbye shiny you will be missed :(
          //img.shiny(src='https://media.istockphoto.com/id/1077626348/photo/silver-glitter-texture-white-sparkling-shiny-wrapping-paper-background-for-christmas-holiday.jpg?b=1&s=170667a&w=0&k=20&c=NHFBwdwfUwKRAXoDIVekY22Mhwi8isTj9dI9a37KnKk=')