extends layout

block content
  include mixins/pokemonCard
  div.container
    div.title
      p Personal Pokedex
      img.pikachu-icon(src='https://www.freeiconspng.com/uploads/pikachu-png-icon-24.png')
    div.card-container
      div.filter-container
        form(action='/' method='get')
          div.form-input
            label(for='types') Type:
            select(id='types' name='types' autocomplete='off')
              each card in types
                option(value=card selected = (card === searchType)) #{card}
          div.form-input
            label(for='random') Random
            input(type='checkbox' name='random' id='random')
          button.button.filterme(type='submit') Filter
      div.buttonrow
        a.button.save(href="/add") Add Card
      div.card-view
        each card in search
          +pokemonCard(card)

          // goodbye shiny you will be missed :(
          //img.shiny(src='https://media.istockphoto.com/id/1077626348/photo/silver-glitter-texture-white-sparkling-shiny-wrapping-paper-background-for-christmas-holiday.jpg?b=1&s=170667a&w=0&k=20&c=NHFBwdwfUwKRAXoDIVekY22Mhwi8isTj9dI9a37KnKk=')